.services {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 192px;
}

.headingPaddings {
    padding-bottom: 26px;
}

.textPaddings {
    padding: 33px 162px 80px 133px;
}

.serviceCards {
    display: grid;
    max-width: 1118px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 37px 34px;
}

.button {
    background-color: var(--main-bg-color);
    color: var(--second-color);
    border-color: var(--second-color);
    margin-top: 72px;
}


