.counterButton {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--main-button-bg-color);
    cursor: pointer;
    transition: border-color 0.25s;
}

.counterButton:hover {
    border-color: var(--main-button-hover-border-color);
}

.counterButton:focus,
.counterButton:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}