.appHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.logo {
    #margin-right: auto;
}

.navigation {
    display: flex;
}

.bold {
    font-weight: 700;
}

.regular {
    font-weight: 400;
}

.navigationElement {
    margin-left: 40px;
    color: #1F1534;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
}
