@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');

:root {
  --main-text-color: black;
  --second-text-color: #7D7987;
  --header-text-color: #1F1534;

  --main-bg-color: white;
  --second-color: #458FF6;
  --logo-texr-color: #233348;

  --shadow-color: rgba(229, 233, 246, 0.40);

  font-family: Mulish, sans-serif;

  color-scheme: light dark;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: auto;
  padding: 56px 192px 0 191px;
  min-width: 800px;
  min-height: 600px;
  #max-width: 1280px;
  #margin: 0 auto;
  #padding: 2rem;
  #text-align: center;
}
