@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');

:root {
  --main-text-color: rgba(255, 255, 255, 0.87);
  --main-bg-color: white;
  --second-color: #458FF6;
  --logo-texr-color: #233348;
  --header-text-color: #1F1534;

  #line-height: 1.5;
  #font-weight: 400;
  font-family: Mulish, sans-serif;

  color-scheme: light dark;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  padding: 56px 192px 0 191px;
  #max-width: 1280px;
  #margin: 0 auto;
  #padding: 2rem;
  #text-align: center;
}


body {
  margin: 0;
  display: flex;
  width: 100%;
  #place-items: center;
  #min-width: 320px;
  #min-height: 100vh;
}
